.form_field{
    width: 100%;
    min-height: 100%;
    flex: 1;
}
.string_input{
    border: none;
    border-bottom: 1px solid red;
}
.string_input:focus{
    outline: none;
    border-bottom: 2px solid red;
    background-color: white;
}
.string_input::placeholder{
    color: rgb(143, 143, 143);
    font-size: 16px;
}
.string_input,
.file_input{
    font-size: 20px;
    width: 100%;
    min-height: 100%;
    padding-left: 10px;
}
.file_input{
    border: 1px solid red;
}
.dropdown_input{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dropdown_input label{
    font-size: 18px;
    padding-left: 5px;
}
.dropdown_input select{
    border: 1px solid red;
    font-size: 18px;
    padding-left: 5px;
}
.dropdown_input select:focus{
    outline: none;
    border: 2px solid red;
}
.dropdown_input option{
    border: 1px solid red;
    font-size: 18px;
}
input[type="submit"]{
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: red;
    font-size: 20px;
    color: white;

}
input[type="submit"]:hover{
    background-color: rgb(255, 53, 53);
    cursor: pointer;
}
input[type="submit"]:active{
    font-size: 18px;
}
.radio_input{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.radio_input > label{
   display: flex;
   flex-direction: row;
   padding-left: 5px;
   gap: 5%; 
}
.radio_input label input[type="radio"] {
    accent-color: #c52222;
    transform: scale(1.1);
    margin: 0;

}