.recipes_view,
.create_recipe_view,
.recipe_view{
    width: 100%;
    height: fit-content;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipes_view{
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}
.create_recipe_view{
    flex-direction: column;
    width: 95%;
}
.create_recipe_view h2{
    color: #3f5247;
}
.create_recipe_view .request_button{
    border-radius: 0px; 
    width: 200px;
    height: 40px;
    border: none;
    background-color: #2ca874;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
.create_recipe_view span{
    padding: 20px;
    font-size: 18px;
}
.create_recipe_view .request_button:hover{
    background-color: #39cc8f;
}
.create_recipe_view .left_section,
.create_recipe_view .right_section{
    height: fit-content;
}
.create_recipe_view .left_section{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.create_recipe_view .right_section{
    flex: 5;
}

.create_recipe_page form > input,
.create_recipe_page form select{
    font-size: 16px;
    height: 30px;
    width: 100%;
}
.create_recipe_page form select[multiple]{
    height: 160px;
}

.recipe_author_view{
    width: 100%;
    padding: 0px 40px 20px 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.author_row{
    display: flex;
    flex-direction: row;
    background-color: rgb(225, 255, 243);
    padding: 10px;
    align-items: center;
    gap: 20px;
}
.row_title{
    font-size: 18px;
    color: rgb(1, 78, 72);
}
.row_content{
    font-size: 20px;
}
.recipe_list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.recipe_view{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.recipe_view > div{
    width: 100%;
    display: flex;
}
.recipe_view > .upper_section{
    flex-direction: row;
}
.recipe_view > .bottom_section{
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.left_section,
.right_section{
    flex: 1;
}