.recipes_view,
.create_recipe_view,
.recipe_view{
    width: 100%;
    height: fit-content;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipes_view{
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}
.create_recipe_view{
    flex-direction: column;
    width: 95%;
}
.create_recipe_view .left_section,
.create_recipe_view .right_section{
    height: fit-content;
}
.create_recipe_view .left_section{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.create_recipe_view .right_section{
    flex: 5;
}

.create_recipe_page form > input,
.create_recipe_page form select{
    font-size: 16px;
    height: 30px;
    width: 100%;
}
.create_recipe_page form select[multiple]{
    height: 160px;
}