.page_layout{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.section_header{
    width: 100%;
    height: fit-content;
    position:sticky;
    top: 0;
    z-index: 1001;
}
.section_content{
    height: 100%;
    width: 100%;
    padding: 10px;
}