.edit_profile_view{
    width: 100%;
}
.edit_profile_view h1{
    font-weight: 100;
    color: rgb(4, 97, 97);
}
.edit_profile_view form{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 20px;
}