.ingredient,
.ingredient_input{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.ingredient{
    background: linear-gradient(to right, rgb(225, 233, 225), white);
}
.ingredient_input{
    height: 100%;
}
.ingredient_input input{
    height: 40px; 
    font-size: 20px;
}

.ingredient_input input,
.ingredient div{
    padding-left: 10px;
}
.ingredient div{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.ingredient .name,
.ingredient_input .name{
    flex: 5;
}

.ingredient .quantity,
.ingredient_input .quantity{
    flex: 3;
}


.ingredient button,
.ingredient_input button{
    font-size: 20px;
    border: none;
    border-radius: 0;
    color: white;
    flex: 1;
}
.ingredient button:hover,
.ingredient_input button:hover{
    cursor: pointer;
    font-weight: bold;
}
.ingredient button{
    background-color: red;
}
.ingredient_input button{
    background-color: rgb(1, 196, 147);
}