.recipe{
    width: 350px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.image_section{
    flex: 5;
    position: relative;
}
.info_section{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.image_section img{
    height: 100%;
    width: 100%;
}
.description{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    background: linear-gradient(to right, rgba(209, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}
.difficulty, 
.time{
    flex: 1;
    display: flex;
    align-items: center;
}
.description > .difficulty{
    padding-left: 10px;
}
.description > .time{
    flex: 1;
    justify-content: right;
    padding-right: 10px;
}
.time span,
.difficulty span{
    font-size: 20px;
    font-weight: bold;
}
.difficulty span{
    color: white;
}
.time span{
    color: rgb(199, 0, 0);
}

.title{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    flex: 5;
    font-weight: bold;
}
.type{
    font-size: 18px;
    padding: 5px;
    color: rgb(53, 53, 53);
    flex: 3;
    font-style: italic;
}
.options{
    border-top: 1px solid rgb(189, 189, 189);
    display: flex;
    flex-direction: row;
    flex: 11;
}
.favourite,
.preview{
    display: flex;
    align-items: center;
    flex: 1;
}
.preview{
    justify-content: right;
    padding-right: 10px;
}
.preview button{
    width: 100px;
    height: 70%;
    border-radius: 0;
    border: none;
    font-size: 18px;
    background-color: red;
    color: white;
}
.preview button:hover{
    background-color: rgb(255, 27, 27);
    cursor: pointer;
}
.preview button:active{
    font-size: 16px;
}
.favourite{
    padding-left: 10px;   
}
.favourite img:hover{
    cursor: pointer;
}