.recipe{
    width: 320px;
    height: 380px;
    background: radial-gradient(circle, white, rgb(232, 248, 248) 100%);
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(155, 155, 155);
}

.image_section{
    flex: 5;
    position: relative;
}
.info_section{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.image_section img{
    height: 100%;
    width: 100%;
}
.description{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    background: linear-gradient(to right, rgba(209, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}
.difficulty, 
.time{
    flex: 1;
    display: flex;
    align-items: center;
}
.description > .difficulty{
    padding-left: 10px;
}
.description > .time{
    flex: 1;
    justify-content: right;
    padding-right: 10px;
}
.time span,
.difficulty span{
    font-size: 20px;
    font-weight: bold;
}
.difficulty span{
    color: white;
}
.time span{
    color: rgb(2, 80, 76);
}

.title{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    flex: 5;
    font-weight: bold;
}
.type{
    font-size: 18px;
    padding: 5px;
    color: rgb(53, 53, 53);
    flex: 3;
    font-style: italic;
}
.author{
    font-size: 18px;
    padding: 5px;
    color: rgb(53, 53, 53);
    flex: 3;
    color: black;
}
.author a{
    all: unset;
    color: rgb(1, 84, 122);
}
.author a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.options{
    border-top: 1px solid rgb(189, 189, 189);
    display: flex;
    flex-direction: row;
    flex: 11;
}
.favourite,
.preview{
    display: flex;
    align-items: center;
    flex: 1;
}
.preview{
    justify-content: right;
    padding-right: 10px;
}
.preview a{
    all: unset;
}
.preview a{
    width: 100px;
    height: 70%;
    border-radius: 0;
    border: none;
    font-size: 18px;
    background-color: rgb(130, 177, 163);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease;
}
.preview a:hover{
    font-weight: bold;
    cursor: pointer;
    transition: ease;
}
.preview a:active{
    font-size: 16px;
}
.favorite{
    padding-left: 10px;   
}
.favorite img:hover{
    cursor: pointer;
}