.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.item{
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 150px;
    flex: 1;
    text-decoration: none;
    color: #1f2e2d;
}
.item_title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 14;
    font-size: 20px;
    color: black;
}
.item_marker{
    flex: 2;
}
.active .item_title{
    color: #287470;
    font-weight: bold;
}
.active .item_marker{
    background: none;
    background-color:#49918d;
}
.active{    
    pointer-events: none;
}
.item:not(.active):hover .item_marker{
    background-color:#96cecb;
}
.item:not(.active):hover .item_title{
    color: #287470;
}