.recipes_view{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}
.create_recipe_view{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
}
.create_recipe_view .title{
    font-size: 30px;
    height: 40px;
    padding: 10px;
}

.create_recipe_page form > input,
.create_recipe_page form select{
    font-size: 16px;
    height: 30px;
    width: 100%;
}
.create_recipe_page form select[multiple]{
    height: 160px;
}