.not_found_view{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column; 
    background: radial-gradient(white 0%, rgb(255, 203, 203) 100%);
}
.title{
    font-size: 60px;
    color: rgb(50, 56, 55);
}
.home_link{
    text-decoration: none;
    background-color: rgb(91, 102, 100);
    font-size: 40px;
    width: 300px;
    height: 70px;
    display: flex;  
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2 ease;
}
.home_link:hover{
    background-color: rgb(102, 116, 114);
}
.home_link:active{
    font-size: 36px;
}
.home_link:focus{
    outline: 3px solid rgb(103, 158, 150);
}