.not_found_view{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column; 
    background: radial-gradient(white 0%, rgb(255, 227, 227) 100%);
}
.title{
    font-size: 60px;
    color: rgb(201, 2, 2);
}
.home_link{
    text-decoration: none;
    background-color: red;
    font-size: 40px;
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2 ease;
}
.home_link:hover{
    background-color: rgb(255, 60, 0);
}
.home_link:active{
    font-size: 36px;
}
.home_link:focus{
    outline: 3px solid rgb(218, 0, 0);
}