.auth_widget{
    width: 90%;
    height: 60%;
    min-height: 30px;
    position: relative;
}
.auth_widget:hover .menu_icon{
    transition: 0.3s;
    flex: 0;
}
.auth_widget:hover .menu{
    display: block;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 3%;
    border: 1px solid #5f9c99;
}
.header:hover{
    cursor:pointer;
}
.email{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.menu_icon{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    overflow: hidden;
}
.menu_icon img{
    width: 100%;
}
.menu{

    width: 100%;
    height: fit-content;
    position: absolute;
    top: 100%;
    display: none;
}
.buffer{
    height: 5px;
}
.menu_item{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
.role, .header{
    background-color: #f0f5f5;
}
.logout{
    color: black;
    background-color: rgb(255, 201, 201);
    border-bottom: 1px solid;
}
.logout:hover{
    background-color: rgb(255, 88, 88);
    color: white;
    cursor: pointer;
}
.menu_item{
    border-color: #5f9c99;
}