.auth_form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.main_section,
.swap_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.main_section{ 
    height: fit-content;
    background: white;
    max-height: 99%;
    border: 1px solid rgb(197, 197, 197);
    gap: 10px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding: 30px;
    color: rgb(50, 56, 55);
}
.main_section form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.feedback{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 90%;
    margin-bottom: 10px;
}
.feedback span{
    color: black;
    font-size: 16px;
    display: flex;
    text-align: center;

}

.swap_section{
    height: 40px;
}
.swap_link{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(64, 77, 74);
    background: linear-gradient(to bottom, white 60%, rgb(215, 247, 236));
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(197, 197, 197);
}
.swap_link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.swap_link:active{
    font-size: 18px;
}