.loading_view{
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(231, 231, 231) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{ 
    display: flex;
    flex-direction: row;
}
.item1,
.item2,
.item3,
.item4,
.item5{
    width: 15px;
    height: 15px;
    border-radius: 20%;
    background-color: white;
    opacity: 0.1;
    transform: scale(1);
    animation-name: highlight_anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.item1{
    animation-delay: 0.1s;
}
.item2{
    animation-delay: 0.2s;
}
.item3{
    animation-delay: 0.3s;
}
.item4{
    animation-delay: 0.4s;
}
.item5{
    animation-delay: 0.5s;
}

@keyframes highlight_anim {
    0% {
        opacity: 1;
        transform: scale(1.3);
    }
    35% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    50% {
        opacity: 0.35;
        transform: scale(1.1);
    }
    75% {
        opacity: 0.2;
        transform: scale(1.0);
    }
    100% {
        opacity: 0.1;
        transform: scale(1.0);
    }
}