.login_view,
.register_view{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(189, 189, 189) 100%);
}
