form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    align-items: center;
}
.form_row{
    width: 95%;
    min-height: 40px;
    display: flex;
    align-items: stretch;
}
