.radio_group{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3%;
}
.title{
    font-size: 20px;
}
.section_options{
    display: flex;
    gap: 15px;
    flex: 1;
}
.option_title{
    font-size: 18px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 3px;
}
.option_title:hover{
    cursor: pointer;
}
input[type="radio"]{
    display: block;
    margin: 0;
    transform: scale(1.2);   
    /*accent-color: #cc3e95;*/   
}
input[type="radio"]:hover{
    cursor: pointer;   
}